* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.heading {
  display: flex;
  justify-content: space-between;
  background-image: url("./images/bgk-header.png");
}

.heading-div {
  display: flex;
  align-items: center;
  align-content: center;
  margin-top: 10px;
  margin-left: 100px;
}

.heading-div__img {
  width: 20px;
  opacity: 0.2;
}

.heading-nav {
  display: flex;
  align-items: center;
  align-content: center;
}

.heading-nav a {
  text-decoration: none;
  font-size: 8px;
  margin-top: 10px;
  margin-left: 10px;
  color: #2a9d8f;
}

.contact {
  margin-right: 90px;
}

.heading-span {
  margin-left: 5px;
  color: #fff;
}

.ourstory-section__img-text {
  display: flex;
  place-content: center;
}

.ourstory-img {
  width: 150px;
  height: 150px;
  margin-right: 50px;
}

.ourstory-section__topborder {
  border: 1px solid #2a9d8f;
  width: 90%;
  height: 40px;
  background-color: #2a9d8f;
  margin: auto;
}

.ourstory-section__bottomborder {
  border: 1px solid #2a9d8f;
  width: 90%;
  height: 40px;
  background-color: #2a9d8f;
  margin: auto;
}

#ourstory-text-p {
  width: 366px;
  font-size: 7px;
  margin-top: 10px;
}

#ourstory-section-learnmore-p {
  border: 1px solid #2a9d8f;
  width: 60px;
  margin: auto;
}

#ourstory-section-learnmore-p {
  text-align: center;
  text-transform: uppercase;
  color: #2a9d8f;
}

/* Expertise*/

.expertise-section {
  display: block;
  margin: 73px auto;
  text-align: center;
}

.expertise-top {
  margin-bottom: 73px;
}

.expertise-title{
  font-size: 22px;
  margin-bottom: 6px;
}

.expertise-body{
  font-size: 14px;
  color: #666;
  margin-bottom: 16px ;
}


.expertise-line{
  width: 50px;
  display: block;
  margin: auto;
  color: #ccc;
}



.container {
  width: 75%;
  margin: 32px auto 0;
 
}

.column{
padding: 32px;
display: table-cell;
width: 33.33333%;
border-style: solid;
border-color: #ccc;
border-width: 0px 1px 0px 0px;
vertical-align: center;

}

.column-last{

border-style: solid;
  border-width: 0px;
}

.first-row{
  border-style: solid;
  border-color: #ccc;
  border-width: 0px 0px 1px 0px;
}

.column-img {
  height: 49px;
  margin-bottom: 24px;
}

.column-title {
  font-size: 14px;
  margin-bottom: 16px;
  font-weight: 600;
}
.column-body {
  font-size: 14px;
  color:#666666;
}

